
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  /* Components */
  
  .container{
    max-width: 576px;
    margin: 0 auto;
  }
  .card{
    background: white;
    box-shadow: 2px 2px 8px black;
    padding: 15px;
    margin: 0 auto;
    width: 440px;
    margin-top: 25%;
  }
 
  .quote{
    width: 16.666%;
  }
 .quotation{
    font-size: 120px;
    font-family: sans-serif;
    line-height: 97px;

 }
 .text{
    display: flex;
    height: 60px;
 }
  .author{
    text-align: end;
    font-style: italic;
    margin: 20px 0 6px 0;
  }
  button{
    padding: 8px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 0;
    outline: 0;
    box-shadow: 2px 2px 4px gray;
  }
  .imgbutton{
    font-size: large;
  }
  ul{
    display: flex;
    flex-flow: row-reverse
  }

  li{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 35px;
  }
  